altgraph==0.17.4
asciimatics==1.15.0
click==8.1.7
Colr==0.9.1
macholib==1.16.3
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==1.26.2
packaging==23.2
Pillow==10.1.0
pyfiglet==1.0.2
Pygments==2.16.1
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
rich==13.6.0
shellingham==1.5.4
termcolor==2.3.0
typer==0.9.0
typing_extensions==4.8.0
wcwidth==0.2.10
altgraph==0.17.4
asciimatics==1.15.0
astroid==3.0.1
click==8.1.7
Colr==0.9.1
dill==0.3.7
isort==5.12.0
macholib==1.16.3
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
numpy==1.26.2
packaging==23.2
Pillow==10.1.0
platformdirs==4.0.0
pyfiglet==1.0.2
Pygments==2.16.1
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
pylint==3.0.2
rich==13.6.0
shellingham==1.5.4
termcolor==2.3.0
tomli==2.0.1
tomlkit==0.12.3
typer==0.9.0
typing_extensions==4.8.0
wcwidth==0.2.10
altgraph==0.17.4
asciimatics==1.15.0
astroid==3.0.1
asyncio==3.4.3
click==8.1.7
Colr==0.9.1
dill==0.3.7
isort==5.12.0
macholib==1.16.3
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
numpy==1.26.2
packaging==23.2
Pillow==10.1.0
platformdirs==4.0.0
pyfiglet==1.0.2
Pygments==2.16.1
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
pylint==3.0.2
rich==13.6.0
shellingham==1.5.4
termcolor==2.3.0
tomli==2.0.1
tomlkit==0.12.3
typer==0.9.0
typing_extensions==4.8.0
validators==0.22.0
wcwidth==0.2.10
